GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MONGODB_URI=mongodb://127.0.0.1:27017/sea-market-hub

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXTAUTH_SECRET=

SECRET_KEY=

NEXT_PUBLIC_BASE_URL=http://localhost:3000

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

GHN_TOKEN=